.button{
    height: 40px;
    width: 100%;
    background-color: #00285f;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(5, 73, 168);
}