.catalog-cad-container{
    display: flexbox;    
}


.container-main h2{
    margin: 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: var(--color-txt-primary);
}

.faq{
    background-color: var(--color-bg-tertiary);
    margin-top: 30px;
    padding: 25px;
}

@media (max-width: 320px){
    .container-main h2{
        font-size: 20px;
    }
}


