@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  font-family: Poppins;
}

:root {
  --color-bg-primary: rgba(60, 154, 240, 1);
  --color-bg-secundary: rgb(255, 255, 255);
  --color-bg-tertiary: rgba(200, 200, 200, 1);

  --color-txt-primary: rgba(94, 94, 94, 1);
  --color-txt-secundary: rgb(255, 255, 255);
  --color-txt-tertiary: rgba(60, 154, 240, 1);

}

header {
  height: 70px;
  background-color:var(--color-bg-primary);  
  font-weight: 700;
  line-height: 28.13px;
  color: var(--color-txt-secundary)
}

header nav{
  max-width: 940px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
}

header nav h1{
  font-size: 24px;
}

.container{
  max-width: 940px;
  margin: 0 auto;
  padding-top: 20px;

}







